{% extends 'layout.html' %}
{% block travel %}

    <p>   

        {% for location in locations %}

            <h3> Location </h3>

            {{ location.country }} , {{ location.city }}<br>

            <h3> Visited tourist sites in {{ location.city }} </h3>
            
            {% for site in location.tourist_sites %}

                Site name: {{ site.site_name }}<br>
                Location: {{ location.city }}<br>
                Favourite part: {{ site.favourite_part }}<br>
                
                <button><a href="{{ url_for('updatesite', id=site.id) }}">Update</a></button>
                <button><a href="{{ url_for('deletesite', id=site.id) }}">Delete</a></button><br><br><br>

            {% endfor%}

        {% endfor %}

    </p>

{% endblock travel %}